.seccion .habilidades {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 3.2em;
  line-height: 1em;
  color: rgb(230, 220, 209);
  mix-blend-mode: exclusion;
}
.bar {
  width: 60%;
  height: 30px;
  margin-top: 5px;
}
.div-editar{
  margin-left: 70%;
}
