<div class="seccion">
  <h2 class="habilidades">Habilidades</h2>
  <button class="btn btn-primary-outline" routerLink="/nueva-habilidad">
    Agregar
  </button>
  <label>JavaScript</label>
  <progress class="bar" [attr.value]="Js()" max="100">JavaScript</progress>
  <label>Java</label>
  <progress class="bar" [attr.value]="Java()" max="100">Java</progress>
  <label>Angular</label>
  <progress class="bar" [attr.value]="Angular()" max="100">Angular</progress>
  <label>MySQL</label>
  <progress class="bar" [attr.value]="Mysql()" max="100">MySQL</progress>
  <div class="div-editar">
    <button
      class="icono-editar"
      routerLink="/editar-habilidad/{{
        habilidades[habilidades.length - 1].id
      }}"
    >
      <i class="bi bi-pencil"></i>
    </button>
  </div>
</div>
