<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="loggedOut" type="button" (click)="onLogout()">
      <a class="letra">Logout</a>
      <ul class="loggedOut-nav">
        <li><img
          height="60px"
          width="70px"
          src="assets/logo-arg-prog-blanco.png"
          alt="imagen"
          loading="lazy"></li>

    </ul>
    </button>
  </nav>
</div>
<app-presentacion></app-presentacion>
<app-principales-proyectos></app-principales-proyectos>
<app-proyectos></app-proyectos>
<app-experiencia></app-experiencia>
<app-educacion></app-educacion>
<app-habilidades></app-habilidades>
<app-banner></app-banner>
<app-fondo></app-fondo>
