<div class="container">
  <div class="row mt-5">
      <div class="col-md-4 mx-auto">
          <form [formGroup]="formularioPrincipalesProyectos" (ngSubmit)="enviarUrl()">
            <div class="mb-3">
              <label for="" class="form-label"></label>
              <h3>Agregar Url del Primer Proyecto Principal</h3>
              <input  formControlName="url_primer_proyecto_principal"  type="text"
              class="form-control" aria.describedby="helpId" placeholder="agrege la url del primer proyecto principal" >
            </div>
            <div class="mb-3">
              <h3>Agregar Url del Primer Segundo Principal</h3>
              <label for="" class="form-label"></label>
              <input  formControlName="url_segundo_proyecto_principal"  type="text"
              class="form-control" aria.describedby="helpId" placeholder="agrege la url del segundo proyecto principal" >
            </div>
            <div class="btn-group" role="group" aria-label="">
            <button type="submit" class="btn btn-succes">Editar</button>
            <button class="btn btn-primary">Cancelar</button>
          </div>
          </form>
      </div>
  </div>
</div>
