<div>
  <div>
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form
          [formGroup]="formularioPrincipalesProyectos"
          (ngSubmit)="enviarPrincipalesProyectos()"
          #myForm="ngForm"
          novalidate
          class="form-input"
        >
          <div class="mb-3">
            <h6>Url del primer proyecto principal</h6>
            <label for="" class="form-label"></label>
            <input
              type="text"
              class="form-control"
              formControlName="url_primer_proyecto_principal"
              aria.describedby="helpId"
              placeholder="url del primer proyecto principal"
              required
            />
          </div>
          <div
            *ngIf="
              UrlPrimerProyectoPrincipal?.errors &&
              UrlPrimerProyectoPrincipal?.touched
            "
          >
            <p
              *ngIf="UrlPrimerProyectoPrincipal?.hasError('required')"
              class="text-danger"
            >
              El campo es requerido
            </p>
          </div>
          <div class="mb-3">
            <h6>Url del segundo proyecto principal</h6>
            <label for="" class="form-label"></label>
            <input
              type="text"
              class="form-control"
              formControlName="url_segundo_proyecto_principal"
              aria.describedby="helpId"
              placeholder="url del segundo proyecto principal"
              required
            />
          </div>
          <div
            *ngIf="
              UrlSegundoProyectoPrincipal?.errors &&
              UrlSegundoProyectoPrincipal?.touched
            "
          >
            <p
              *ngIf="UrlSegundoProyectoPrincipal?.hasError('required')"
              class="text-danger"
            >
              El campo es requerido
            </p>
          </div>
          <div class="btn-group" role="group" aria-label="">
            <button type="submit" class="btn" [disabled]="!myForm.valid">
              Agregar
            </button>
            <button class="btnn">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
