<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form
        #myForm="ngForm"
        novalidate
        class="form-input"
        [formGroup]="formularioEducacion"
        (ngSubmit)="editarEducacion()"
        class="form-input"
      >
        <div class="mb-3">
          <h6>Certificacion de tu educacion</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="certificaciones"
            aria.describedby="helpId"
            placeholder="Certificacion de tu educacion"
            required
          />
        </div>
        <div class="mb-3">
          <h6>Infomacion de tu instituto</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="info_de_instituto"
            aria.describedby="helpId"
            placeholder="Infomacion de tu instituto"
            required
          />
        </div>
        <div class="mb-3">
          <h6>Url del logo del instituto</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="url_logo_instituto"
            aria.describedby="helpId"
            placeholder="Url del logo del instituto"
            required
          />
        </div>
        <div class="mb-3">
          <h6>Nombre de tu carrera</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre_carrera"
            aria.describedby="helpId"
            placeholder="Nombre de tu carrera"
            required
          />
        </div>
        <div class="mb-3">
          <h6>Fecha de inicio de tus estudios</h6>
          <label for="" class="form-label"></label>
          <input
            type="date"
            formControlName="desde_periodo_ano"
            class="form-control"
            aria.describedby="helpId"
            placeholder="Fecha de inicio de tus estudios"
            required
          />
        </div>
        <div class="mb-3">
          <h6>Fecha de finalización de tus estudios</h6>
          <label for="" class="form-label"></label>
          <input
            type="date"
            class="form-control"
            formControlName="hasta_periodo_ano"
            aria.describedby="helpId"
            placeholder="Fecha de finalización de tus estudios"
            required
          />
        </div>
        <div class="btn-group" role="group" aria-label="">
          <button
            type="submit"
            class="btn btn-succes"
            [disabled]="!myForm.valid"
          >
            Editar
          </button>
          <button class="btnn">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
