<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form
        #myForm="ngForm"
        novalidate
        class="form-input"
        [formGroup]="formularioProyectos"
        (ngSubmit)="enviarProyectos()"
      >
        <div class="mb-3">
          <h6>Nombre del proyecto</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="nombre_de_proyecto"
            aria.describedby="helpId"
            placeholder="nombre de tu proyecto"
            required
          />
        </div>
        <div *ngIf="NombreDeProyecto?.errors && NombreDeProyecto?.touched">
          <p *ngIf="NombreDeProyecto?.hasError('required')" class="text-danger">
            El campo es requerido
          </p>
        </div>
        <div class="mb-3">
          <h6>Descripción del proyecto</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="descripcion_del_proyecto"
            aria.describedby="helpId"
            placeholder="descripción de tu proyecto"
            required
          />
        </div>
        <div
          *ngIf="
            DescripcionDelProyecto?.errors && DescripcionDelProyecto?.touched
          "
        >
          <p
            *ngIf="DescripcionDelProyecto?.hasError('required')"
            class="text-danger"
          >
            El campo es requerido
          </p>
        </div>
        <div class="mb-3">
          <h6>Link de evidencia</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="link_de_evidencia"
            aria.describedby="helpId"
            placeholder="Url de tu proyecto"
            required
          />
        </div>
        <div *ngIf="LinkDeEvidencia?.errors && LinkDeEvidencia?.touched">
          <p *ngIf="LinkDeEvidencia?.hasError('required')" class="text-danger">
            El campo es requerido
          </p>
        </div>
        <div class="mb-3">
          <h6>Fecha de realización</h6>
          <label for="" class="form-label"></label>
          <input
            type="date"
            class="form-control"
            formControlName="fecha_de_realizacion"
            aria.describedby="helpId"
            placeholder="fecha de realización de tu proyecto"
            required
          />
        </div>
        <div *ngIf="FechaDeRealizacion?.errors && FechaDeRealizacion?.touched">
          <p
            *ngIf="FechaDeRealizacion?.hasError('required')"
            class="text-danger"
          >
            El campo es requerido
          </p>
        </div>
        <div class="btn-group" role="group" aria-label="">
          <button
            type="submit"
            class="btn btn-succes"
            [disabled]="!myForm.valid"
          >
            Agregar
          </button>
          <button class="btnn">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
