<section class="seccion about" id="about">
  <h2 class="h2">Sobre mi</h2>
  <button class="btn btn-primary-outline" routerLink="/nuevo-banner">Agregar</button>
  <form class="form-container-sobre-mi">
  <p class="p">{{banner[banner.length-1].primera_descripcion}}</p>
  <p class="p">{{banner[banner.length-1].segunda_descripcion}}</p>
  <p class="p">{{banner[banner.length-1].tercera_descripcion}}</p>
    </form>
    <button class="icono-editar" routerLink="editar-banner/{{banner[banner.length-1].id}}"><i class="bi bi-pencil"></i></button>
</section>
