<div class="main">
  <section class="seccion" id="works">
    <section class="seccion about" id="about">
      <h2 class="h2">Experiencia Laboral</h2>
      <div>
        <button class="btn btn-primary-outline" routerLink="/nueva-experiencia">
          Agregar
        </button>
      </div>
      <form *ngFor="let experiencia of experiencias">
        <form class="form-container-proyectos">
          <div>
            <h5>Lugar de trabajo: {{ experiencia.lugar_de_trabajo }}</h5>
          </div>
          <hr />
          <div>
            <h5>Logo de la empresa: {{ experiencia.titulo_del_puesto }}</h5>
          </div>
          <hr />
          <div>
            <h5>Logo de la empresa: {{ experiencia.url_logo_empresa }}</h5>
          </div>
          <hr />
          <div>
            <h5>
              Descripción de actividades:
              {{ experiencia.descripcion_de_actividades }}
            </h5>
          </div>
          <hr />
          <div>
            <h5>Fecha de Actividad: {{ experiencia.fecha_de_actividad }}</h5>
          </div>
          <hr />
        </form>
        <div class="div-editar">
          <button
            class="icono-editar"
            routerLink="/editar-experiencia/{{ experiencia.id }}"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            class="icono-borrar"
            type="button"
            href="#"
            (click)="borrar(experiencia.id, experiencia)"
          >
            <i class="bi bi-x-circle"></i>
          </button>
        </div>
      </form>
    </section>
  </section>
</div>
