<div class="container">
  <div class="row mt-5">
    <div class="col-md-4 mx-auto">
      <form
        [formGroup]="formularioExperiencia"
        (ngSubmit)="enviarExperiencia()"
        class="form-input"
        #myForm="ngForm"
        novalidate
      >
        <div class="mb-3">
          <h6>Lugar de trabajo</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="lugar_de_trabajo"
            aria.describedby="helpId"
            placeholder="Lugar de trabajo"
            required
          />
        </div>
        <div *ngIf="LugarDeTrabajo?.errors && LugarDeTrabajo?.touched">
          <p *ngIf="LugarDeTrabajo?.hasError('required')" class="text-danger">
            El campo es requerido
          </p>
        </div>
        <div class="mb-3">
          <h6>Titulo del puesto ocupado</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="titulo_del_puesto"
            aria.describedby="helpId"
            placeholder="Titulo del puesto ocupado"
            required
          />
        </div>
        <div *ngIf="TituloDelPuesto?.errors && TituloDelPuesto?.touched">
          <p *ngIf="TituloDelPuesto?.hasError('required')" class="text-danger">
            El campo es requerido
          </p>
        </div>
        <div class="mb-3">
          <h6>Url del logo de su empresa</h6>
          <label for="" class="form-label"></label>
          <input
            type="file"
            accept="image/*"
            class="form-control"
            formControlName="url_logo_empresa"
            aria.describedby="helpId"
            placeholder="Url del logo de su empresa"
            required
          />
        </div>
        <div class="mb-3">
          <h6>Descripcion de las actividades desarrollada</h6>
          <label for="" class="form-label"></label>
          <input
            type="text"
            class="form-control"
            formControlName="descripcion_de_actividades"
            aria.describedby="helpId"
            placeholder="Descripcion de las actividades desarrolladas"
            required
          />
        </div>
        <div
          *ngIf="
            DescripcionDeActividades?.errors &&
            DescripcionDeActividades?.touched
          "
        >
          <p
            *ngIf="DescripcionDeActividades?.hasError('required')"
            class="text-danger"
          >
            El campo es requerido
          </p>
        </div>
        <div class="mb-3">
          <h6>Fecha de actvidad</h6>
          <label for="" class="form-label"></label>
          <input
            formControlName="fecha_de_actividad"
            type="date"
            class="form-control"
            aria.describedby="helpId"
            placeholder="Fecha de actvidad"
            required
          />
        </div>
        <div *ngIf="FechaDeActividad?.errors && FechaDeActividad?.touched">
          <p *ngIf="FechaDeActividad?.hasError('required')" class="text-danger">
            El campo es requerido
          </p>
        </div>
        <div class="btn-group" role="group" aria-label="">
          <button
            type="submit"
            class="btn btn-succes"
            [disabled]="!myForm.valid"
          >
            Agregar
          </button>
          <button class="btnn">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
