<div class="agregar">
<div class="container">
  <div class="row mt-5">
      <div class="col-md-4 mx-auto">
          <form [formGroup]="formularioPresentacion" (ngSubmit)="enviarPresentacion()">
            <div class="mb-3">
              <label for="" class="form-label"></label>
              <h6>Agregar nombre y apellido</h6>
              <input type="text"
              class="form-control" formControlName="nombre_y_apellido"  aria.describedby="helpId" placeholder="agrege su nombre y apellido">
            </div>
            <div class="mb-3">
              <label for="" class="form-label"></label>
              <h6>Agregar puesto en el que se desempeña</h6>
              <input type="text"
              class="form-control" formControlName="puesto"  aria.describedby="helpId" placeholder="agrege el puesto en el que trabaja">
            </div>
              <div class="btn-group" role="group" aria-label="">
              <button type="submit" class="btn btn-succes">Agregar</button>
              <button class="btn btn-primary">Cancelar</button>
            </div>
          </form>
        </div>
    </div>
</div>
</div>
