<div class="agregar">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form
          [formGroup]="formularioPresentacion"
          (ngSubmit)="enviarPresentacion()"
          #myForm="ngForm"
          novalidate
          class="form-input"
        >
          <div class="mb-3">
            <label for="" class="form-label"></label>
            <h6>Nombre y apellido</h6>
            <input
              type="text"
              class="form-control"
              formControlName="nombre_y_apellido"
              aria.describedby="helpId"
              placeholder="Nombre y apellido"
              required
            />
          </div>
          <div *ngIf="NombreYApellido?.errors && NombreYApellido?.touched">
            <p
              *ngIf="NombreYApellido?.hasError('required')"
              class="text-danger"
            >
              El campo es requerido
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label"></label>
            <h6>Puesto en el que se desempeña</h6>
            <input
              type="text"
              class="form-control"
              formControlName="puesto"
              aria.describedby="helpId"
              placeholder="Puesto en el que trabaja"
              required
            />
          </div>
          <div *ngIf="Puesto?.errors && Puesto?.touched">
            <p *ngIf="Puesto?.hasError('required')" class="text-danger">
              El campo es requerido
            </p>
          </div>
          <div class="mb-3">
            <label for="" class="form-label"></label>
            <h6>GitHub</h6>
            <input
              type="text"
              class="form-control"
              formControlName="github"
              aria.describedby="helpId"
              placeholder="GitHub"
              required
            />
          </div>
          <div class="mb-3">
            <label for="" class="form-label"></label>
            <h6>LinkedIn</h6>
            <input
              type="text"
              class="form-control"
              formControlName="linkedin"
              aria.describedby="helpId"
              placeholder="LinkedIn"
              required
            />
          </div>
          <div class="btn-group" role="group" aria-label="">
            <button
              type="submit"
              class="btn btn-succes"
              [disabled]="!myForm.valid"
            >
              Agregar
            </button>
            <button class="btnn">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
