.main {
  opacity: 3;
  margin: 0 0 1px 1px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.seccion {
  width: 100%;
  min-height: 50vh;
  padding: 0.5em;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color: rgb(230, 220, 209);
  opacity: 3;
  margin: 0 0 0.5em;
  text-align: center;
  position: relative;
  z-index: 2;
}
.seccion .info {
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both;
  color: rgb(230, 220, 209);
}
.seccion .ul {
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: rgb(10, 6, 1);
}
.seccion .ul .li {
  list-style: none;
  margin: 0 1em;
  color: rgb(230, 220, 209);
}
.seccion .ul .a {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 1em 1em 1em;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  animation: aparecer1 2s ease 1 backwards;
  color: rgb(230, 220, 209);
}
.seccion .ul > :nth-child(2) .a {
  animation-delay: 0.2s;
}
.seccion .ul .a:hover {
  border-color: var(--blanco);
}
.seccion .h2 {
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 3.2em;
  line-height: 1em;
  color: rgb(230, 220, 209);
  mix-blend-mode: exclusion;
}
.seccion .h3 {
  font-family: var(--tipo-titular);
  font-size: 1.3em;
  color: rgb(230, 220, 209);
}
.seccion .grid {
  width: 90%;
  max-width: 40em;
  margin: 1em 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}
.seccion .article {
  width: 100%;
  height: 100%;

  margin-top: initial;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}
.seccion .article .h4 {
  width: 18em;
  height: 20em;
  background-color: var(--negro-5);
  backdrop-filter: blur(1rem);
  position: absolute;
  border-radius: 20px;
  bottom: 0;
  left: 12px;
  top: 30px;
  right: 0;
  color: rgb(230, 220, 209);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  font-size: 1em;
  font-family: var(--tipo-titular);
  font-style: italic;
  opacity: 0;
  transform: translateZ(1) scale(1.5);
  transition: all 0.5s ease;
}
.main .seccion .article:hover .h4 {
  opacity: 1;
  transform: translateZ(1) scale(1.5);
}
.seccion .p {
  color: rgb(230, 220, 209);
}
.seccion .p-url {
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.seccion .img {
  width: 18em;
  height: 20em;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.works {
  color: var(--negro);
}
.works .h2 {
  color: rgb(230, 220, 209);
  margin: 0 0 1rem;
  color: inherit;
}

.about .h2 {
  color: rgb(230, 220, 209);
  margin: 0 0 2rem;
}
.about .p {
  align-items: right;
  justify-content: center;
  text-align: center;

  max-width: 40rem;
  color: rgb(230, 220, 209);
  margin: 0 0 2rem;
  font-size: 1.1em;
  display: flex;
}
.about .rrss {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about .li {
  margin: 0 1em;
  color: rgb(10, 6, 1);
}
.about .svg {
  width: 3em;
  height: 3em;
}
.form-container-proyectos {
  text-decoration: none;
  overflow: scroll;
  width: 800px;
  height: 150px;
  align-items: center;
  align-content: center;
  border: 0px solid rgb(230, 220, 209);
  padding: 50px 60px;
  margin-top: 8vh;
  -webkit-box-shadow: 5px 5px 5px 5px rgb(232, 229, 220);
  -moz-box-shadow: 5px 5px 5px 5px rgb(242, 238, 225);
  box-shadow: 3px 3px 3px 3px rgb(236, 231, 218);
  box-sizing: content-box;
  position: relative;
  z-index: 2;
}
.btn-primary-outline {
  background-color: transparent;
  color: rgb(238, 238, 213);
  border-color: rgb(230, 220, 209);
  border-radius: 50%;
  box-shadow: rgb(230, 220, 209);
  width: 80px;
  height: 50px;
}
.icono-editar {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 30px;
  height: 30px;
  margin-right: 80%;
}
.icono-editar .bi-pencil {
  color: bisque;
  font-size: 21px;
}
.icono-borrar {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 80px;
  height: 40px;
  margin-left: 80%;
}
.icono-borrar .bi-x-circle {
  color: bisque;
  font-size: 21px;
}
.form-container-sobre-mi {
  overflow: scroll;
  width: 650px;
  height: 250px;
  border: 0px solid #fff;
  padding: 50px 60px;
  margin-top: 8vh;
  text-align: inherit;
  -webkit-box-shadow: 10px 10px 37px 28px rgb(232, 229, 220);
  -moz-box-shadow: 10px 10px 37px 28px rgb(242, 238, 225);
  box-shadow: 3px 3px 3px 3px rgb(236, 231, 218);
  box-sizing: content-box;
  position: relative;
  z-index: 2;
}
.loggedOut {
  border-color: antiquewhite;
  border-radius: 50px;
  background-color: transparent;
  box-sizing: content-box;
  opacity: 2;
  color: rgb(244, 233, 233);
  padding: 1em;
  z-index: 2;
  height: 20px;
  width: 42px;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.letra {
  font-size: 15px;
  color: aliceblue;
  font-family: var(--tipo-titular);
}
.imgperfil{
  border-radius:20px;
}
.loggedOut-nav{
  list-style: none;
  text-decoration: none;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

